#digit {
  height: 1.2em;
  width: 1em;/*1.5em;*/
  overflow: hidden;
  font: 32px monospace;
  text-spacing: 2px;
}
#stripe {
  display: inline-block;
}
a {
  color: white;
}
a.active {
  color: yellow;
}

li {
padding-left: 15px;
}
/*
i {
  padding: 7px;
}
*/
#stripe:hover {
  transform: translate(-100%);
  transition-property: transform;
  transition-duration: 7s;
  transition-timing-function: linear;
}
#resume-btn {
  padding-right: 65px;
}
