<mdb-navbar id="nav" SideClass="navbar fixed-top navbar-expand-lg navbar-dark elegant-color z-depth-0">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="">
      <div id="digit">
        <div id="stripe">
         <<<<<<<<<<<<<<<<<<<<<<<
        <!-- <i class="fas fa-arrow-left"></i><i class="fas fa-arrow-left"> </i><i class="fas fa-arrow-left"> </i><i class="fas fa-arrow-left"></i><i class="fas fa-arrow-left"></i><i class="fas fa-arrow-left"></i>
-->
      </div></div>

    </a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <!-- clicky boy -->
                <a routerLink="/jobs" class="nav-link waves-light" mdbWavesEffect>Relevant Experience</a>
            </li>
            <li class="nav-item">
                <a routerLink="/projects" class="nav-link waves-light" mdbWavesEffect>Projects</a>
            </li>
            <li class="nav-item">
                <a routerLink="/oldSite/about" class="nav-link waves-light" mdbWavesEffect>About</a>
                <!--  <a routerLink="/about" class="nav-link waves-light text-default" mdbWavesEffect>About</a>-->
            </li>
        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto">
                   <li id="resume-btn" class="nav-item">
                       <a class="nav-link" target = "_blank" href="https://drive.google.com/open?id=1h1VRhYqHdJ2DpQPtv0Bvufrj7dr54VyN">Resume</a>
                       <!-- <a class="nav-link text-primary" target = "_blank" href="https://drive.google.com/file/d/1onx8CxMGPBlSjkqwRWKFLFBHTX4J5cZF/view?usp=sharing">Resume</a>-->
                   </li>
        </ul>
    </links>
    <!-- Collapsible content -->


</mdb-navbar>
<!--/.Navbar-->
