<app-header></app-header>
<div id="main">
  <h1 class="text-center">Hello there.</h1>
  <h2 class="text-center">How ya doin'?</h2>
  <p>
    My name's Tasha! Hi. Here you'll find everything I've done,
    where I can explain my experience and thoughts in more detail than what I can fit on a one page resume. Not sure what's in store
    for the future of this website, but I'd want to spice it up given the chance.
  </p>
  <br>
 <p> Experience: </p>
<div class='skillType'>
  <div class='skill' *ngFor='let skillType of baseExpList; let i = index'>
   <p> {{skillType[0]}} </p>
    <ul>
      <li *ngFor='let skill of skillType | slice:1'>
        {{ skill }}
      </li>
    </ul>
  </div>
</div>
<div class='skillType'> 
  <div class='skill' *ngFor='let skillType of extraExpList; let i = index'>
    <p> {{skillType[0]}} </p>
     <ul>
       <li *ngFor='let skill of skillType | slice:1'>
         {{ skill }}
       </li>
     </ul>
   </div>
  </div>
  <div class='contact'>
    <p>Find me here:</p>
    <a href="https://github.com/JiaYXiao" target="_blank"><i class="fab fa-github fa-2x grey-text"></i></a>
    <a href="https://www.linkedin.com/in/tasha-xiao-851b7616a" target="_blank"><i class="fab fa-linkedin-in fa-2x grey-text"></i></a>
    <a href="mailto:tasha.xiao@gmail.com" target="_top"><i class="fas fa-envelope fa-2x grey-text"></i></a>
  </div>
</div>
