<app-header></app-header>
<body>
<h1 class="text-center">Hello there.</h1>
<h2 class="text-center">How're you doing? I'm Tasha.</h2>
<p>
  <!--
  I'm a computer engineering student at the University of Waterloo; will be until 2023. I currently have experience
  in Java, C++, HTML, CSS, and Javascript.

  - you can find me here
  - I'm interested in


  - intro
  - location/what you can find me doing
  - current interests, previous coding experience
  - concl
  I discovered coding when I first entered high school but didn't get into it until a few years later.
  Compared to people I've seen, I consider myself a late bloomer and have a determination to make up for the time I lost.
  I'm not certain on what I want to do, but that's because there's so much out there that I'm unaware of.
  Blockchain, big data, IoT, machine learning, there's all these keywords and phrases I've heard of
  but know so little about. My current goal is to learn a bit more about everything, dip my feet in,
  and discover my likes and dislikes.
  How do I stop cringing-->
</p>
<br>
<br>
<p>i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i
i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i i </p>
<br>
<p><!--Questions? Comments? Concerns? Suggestions for improvement? Just need someone to talk to?
  Contact me at jy3xiao@edu.uwaterloo.ca :)
  take a seat, relax a little, and spend some time exploring.
    There's not much around here but I guarantee with time, it'll grow.
    This is, after all, just the beginning.-->
  Duis fermentum velit quis eros vehicula maximus. Curabitur odio nulla, molestie eget posuere
  ut, consequat luctus lorem. Ut non enim in neque consequat congue in euismod ipsum. Integer
  porttitor ultrices velit. Nam a tincidunt diam, vel euismod nisl. Sed ultrices metus nec dui
  interdum efficitur. Fusce eu libero dignissim nunc pellentesque pellentesque. Suspendisse
  dapibus quis ipsum eget varius. Vivamus non bibendum diam. Sed eu diam auctor, pellentesque
  nisl ac, imperdiet ante. Donec scelerisque sodales arcu eget dignissim. Donec pretium rhoncus
  massa eget lacinia.</p>
<br>
<p>In eu quam sit amet felis rhoncus egestas. Donec id tortor tempus, pretium augue sit amet,
  interdum erat. Suspendisse euismod, leo sit amet porta ornare, sapien lectus posuere nulla,
  id interdum risus leo sed leo. Sed nisl tellus, pellentesque sed neque id, porttitor porta
  nisi. Ut a fermentum quam. Etiam blandit commodo tortor, vel tempor neque lacinia sit amet.
  Nunc vitae risus nec velit egestas laoreet id eget metus. Vivamus at massa nec lorem
  vestibulum varius. Proin accumsan neque id ipsum eleifend accumsan. Aliquam non pellentesque
  nunc. Etiam nec auctor massa, at vulputate massa. Curabitur efficitur imperdiet ante, non
  finibus sem interdum id. Nunc facilisis et nulla et aliquam. Nulla et est fringilla,
  porttitor metus et, dignissim augue. Curabitur nulla ligula, aliquam consectetur tincidunt
  quis, lobortis vel nulla. Quisque mollis nunc sed leo volutpat, sit amet commodo purus
  sagittis.</p>
<br>
<p>Donec tempus lectus nec tincidunt vestibulum. Proin tempor tortor at est sagittis,
  ut ultrices lacus egestas. Duis varius consectetur nunc. Proin dui erat, faucibus et
  aliquam eget, dapibus quis nisi. Vivamus eget sapien et felis posuere placerat at at
  magna. Etiam et ornare urna, at mattis eros. Phasellus quis fermentum libero, eu blandit
  erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Donec sem nunc, scelerisque sit amet pellentesque sit amet, mollis quis ipsum.</p>
<br>
<p>Donec tempus lectus nec tincidunt vestibulum. Proin tempor tortor at est sagittis, ut
  ultrices lacus egestas. Duis varius consectetur nunc. Proin dui erat, faucibus et aliquam
  eget, dapibus quis nisi. Vivamus eget sapien et felis posuere placerat at at magna. Etiam et
  ornare urna, at mattis eros. Phasellus quis fermentum libero, eu blandit erat. Orci varius
  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sem nunc,
  scelerisque sit amet pellentesque sit amet, mollis quis ipsum. <p>
<br>
<p>Pellentesque aliquam mauris vel suscipit euismod. Etiam rhoncus turpis vel diam pretium, et
  mollis lorem vehicula. Proin tempor, nisi non blandit imperdiet, dolor enim tincidunt sem,
  at efficitur turpis elit vel sem. Praesent vitae mauris sit amet elit fringilla tincidunt
  luctus ac nulla. Quisque eget nulla elit. Morbi quis aliquam ex. Proin nec orci eget metus
  posuere ullamcorper. Praesent sagittis congue odio, in dapibus tortor condimentum in.
  Suspendisse interdum porta diam vitae rhoncus. Quisque vehicula convallis vulputate. Nam
  ipsum ante, pulvinar quis scelerisque sed, finibus sit amet ex. Proin auctor lacus ac elit
  placerat lobortis. Vestibulum rhoncus, metus et volutpat placerat, mauris risus consectetur
  magna, quis maximus diam dui ac urna. Maecenas id ligula in risus lobortis tempus vel non eros.</p>
</body>
