<app-header></app-header>
  <body>
  <h1 class="text-center">Previous Experience</h1>

  <div id="coop1">
    <h3>Innovation Solutions Intern</h3>
    <h4>Jan-April 2019<br>Purolator</h4>
    <p>
      Worked on a proof of concept in a group of 2 other coops; we wanted to find a solution to easily digitize documents, specifically filled in bills of lading. 
      The bills were forms that had key pairs we wanted to match up, for example "country: CA, phone number: (xxx)-xxx-xxxx," etc. that would be collected and
      sent through an api to be added into their existing database. The challenge was that there was no default form layout, and the needed information were in 
      different formats, locations, and had various wording/synonyms.
      <br><br>
      We started off by researching various OCR technologies, and came to a final decision between Google's Cloud Vision API and IBM's BACA (Business Automation 
      Content Analyzer). Although Google's solution had better base capabilities (it supported handwriting and 2d barcodes), it did not provide any post processing
      to recognize any of the key pairs by itself, which we considered as a major setback.
      <br><br>
      The rest of the time was spent working with IBM's support team and within our group to optimize the program for best results in its post-processing step, 
      but it was concluded that many of the critical functionalities we required was planned to be devleloped but not yet implemented. Despite our best efforts, 
      we could not reach our predetermined definition of success before the end of the term. 
    </p>
  </div>

  <div id="coop2">
    <h3>Software Developer</h3>
    <h4>Sept-Dec 2019<br>RBC</h4>
    <p>
      Worked as a part of the team working on RBC's new business banking portal.
      <br><br>
      Month 1: QA + Learning
      <br>
        I spent the first month learning how to test software. I learned basic concepts (e.g TDD/BDD, unit/integration/e2e, usage of mocks, mutation testing, 
        pen testing, etc.) and had the opportunity to create tests and refactor existing tests for the project in both front and back end. I additionally 
        learned how to navigate Jenkins and Confluence, and how to be in an agile group. I experienced various meetings I didn't previously have (backlog reviews, 
        sprint reviews, retro, daily stand up, etc.) and learned a bit on how to increase my productivity in a work environment (e.g to declare goals in the 
        beginning of a meeting and making sure they are fulfilled by the end. Just various soft skills).
      <br><br>
        Month 2: Graphql
      <br>
        Learned the basics of how GraphQL worked, developed a small demo, and presented it to the team to see if it could be used in the project.
      <br><br>
        Month 3: Front end 
      <br>
        Picked up Jira stories related to front-end development of the portal, and begun to have the opportunity to lead agile meetings and standups.
      <br><br>
        Month 4: Front end + opportunity to play w RPi  
      <br>
      Continuation of month 3. Holidays were coming up so work was slowing down, and I got the opportunity to screw around with a raspberry pi. 
      There weren't many components however, so I just tried some basic led patterns. If given the opportunity, I'd be able to implement what
      I know with an adruino so the learning curve to do more advanced projects isn't as bad.
    </p>
  </div>
<h1 class="text-center">Volunteer/Informal Experiences</h1>
  <div id="coop3">
    <h3>Volunteer</h3>
    <h4>Jan 2015-June 2018<br>International and Indigenous Languages (IIL) for YRDSB</h4>
    <p>
      Helped with all volunters with the principal/vice during the busiest times to achieve objectives(e.g dealing with parents beginning of term, 
      textbook handout + bookkeeping + fee collection, confirmation of admin forms for all students, report card printing/distribution, etc.). 
      During low traffic times the general schedule was to create photocopies required by teachers asap -> 
      collect attendence with a few other volunteers -> hall monitoring in time for the students' break time.
      Physical files are so painful to deal with.
      <br>
      Soft skills:
    </p>
      <ul>
        <li>
          Providing aid without angering people and scaring children
        </li>
        <li>
          Speed/time management 
        </li>
        <li>
          Leadership ability and collaboration with the rest of the volunteers
        </li>
      </ul>
  </div>
  <div id="coop3">
    <h3>Volunteer</h3>
    <h4>Hack The North 2018</h4>
    <p>
      Took shifts and helped with surveillence of the event in both main hall and one of the floors of the building, helping attendees with any questions they might have
      delivered snacks. May not sound like much but it was able to ease me into a hackathon environment without the stress of being one of the hackers. 
      <br>Soft skills: 
    </p>
      <ul>
        <li>
          Collaboration in a high-density/large environment
        </li>
        <li>
          Ability to listen to and recall instructions when required
        </li>
        <li>
          Acknowledging not knowing something and being aware of who to redirect to
        </li>
      </ul>
  </div>
</body>
<h2 class="text-center">Most recent academic term completed: 1A</h2>