<app-header></app-header>
  <body>
  <h1 class="text-center">Previous Experience</h1>
  <h2 class="text-center">Each co-op term is 4 months;<br>Most recent academic term completed: 1A</h2>


  <div id="coop1">
    <h3>Innovation Solutions Intern</h3>
    <h4>Jan-April 2019<br>Purolator</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a nibh leo. Nunc bibendum arcu
      bibendum semper rutrum. Quisque auctor lacus est, ac fringilla nibh lobortis vel. Ut est urna,
      ullamcorper congue eleifend vel, malesuada eget est. Aliquam non venenatis nisl. Ut interdum sed
      nulla ac dignissim. Donec ac velit tellus. Vivamus in nisl lacinia, facilisis lectus
      ullamcorper, scelerisque turpis. Phasellus efficitur, lorem sit amet volutpat interdum, metus
      arcu dignissim lectus, viverra felis leo hendrerit massa. Maecenas non velit non urna elementum
      varius varius in turpis. Maecenas placerat nisl turpis, eget dictum sapien ullamcorper varius.
      Curabitur pretium sapien eu pharetra rutrum. Aenean in ex faucibus, consequat magna in, tempor
      massa. Sed ullamcorper leo quis aliquam sollicitudin. Suspendisse elit odio, feugiat at
      consectetur a, laoreet id odio.</p>
  </div>

  <div id="coop2">
    <h3>Title</h3>
    <h4>Date<br>Company</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a nibh leo. Nunc bibendum arcu
      bibendum semper rutrum. Quisque auctor lacus est, ac fringilla nibh lobortis vel. Ut est urna,
      ullamcorper congue eleifend vel, malesuada eget est. Aliquam non venenatis nisl. Ut interdum sed
      nulla ac dignissim. Donec ac velit tellus. Vivamus in nisl lacinia, facilisis lectus
      ullamcorper, scelerisque turpis. Phasellus efficitur, lorem sit amet volutpat interdum, metus
      arcu dignissim lectus, viverra felis leo hendrerit massa. Maecenas non velit non urna elementum
      varius varius in turpis. Maecenas placerat nisl turpis, eget dictum sapien ullamcorper varius.
      Curabitur pretium sapien eu pharetra rutrum. Aenean in ex faucibus, consequat magna in, tempor
      massa. Sed ullamcorper leo quis aliquam sollicitudin. Suspendisse elit odio, feugiat at
      consectetur a, laoreet id odio.</p>
  </div>

  <div id="coop3">
    <h3>Title</h3>
    <h4>Date<br>Company</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a nibh leo. Nunc bibendum arcu
      bibendum semper rutrum. Quisque auctor lacus est, ac fringilla nibh lobortis vel. Ut est urna,
      ullamcorper congue eleifend vel, malesuada eget est. Aliquam non venenatis nisl. Ut interdum sed
      nulla ac dignissim. Donec ac velit tellus. Vivamus in nisl lacinia, facilisis lectus
      ullamcorper, scelerisque turpis. Phasellus efficitur, lorem sit amet volutpat interdum, metus
      arcu dignissim lectus, viverra felis leo hendrerit massa. Maecenas non velit non urna elementum
      varius varius in turpis. Maecenas placerat nisl turpis, eget dictum sapien ullamcorper varius.
      Curabitur pretium sapien eu pharetra rutrum. Aenean in ex faucibus, consequat magna in, tempor
      massa. Sed ullamcorper leo quis aliquam sollicitudin. Suspendisse elit odio, feugiat at
      consectetur a, laoreet id odio.</p>
  </div>
</body>
