<app-header></app-header>
  <body>
  <h1 class="text-center">Previous Experience</h1>

  <div id="coop1">
    <h3>Innovation Solutions Intern</h3>
    <h4>Jan-April 2019<br>Purolator</h4>
    <p>
      Worked on a proof of concept in a group of 2 other coops; we wanted to find a solution to easily digitize documents, specifically filled in bills of lading. 
      The bills were forms that had key pairs we wanted to match up, for example "country: CA, phone number: (xxx)-xxx-xxxx," etc. that would be collected and
      sent through an api to be added into their existing database. The challenge was that there was no default form layout, and the needed information were in 
      different formats, locations, and various wording/synonyms.
      <br><br>
      We started off by researching various OCR technologies, and came to a final decision between Google's Cloud Vision API and IBM's BACA (Business Automation 
      Content Analyzer). Although Google's solution had better base capabilities (it supported handwriting and 2d barcodes), it did not provide any post processing
      to recognize any of the key pairs by itself, which we considered as a major setback.
      <br><br>
      The rest of the time was spent working with IBM's support team and within our group to optimize the program for best results in its post-processing step, 
      but it was concluded that many of the critical functionalities we required was planned to be devleloped but not yet implemented. Despite our best efforts, 
      we could not reach our predetermined definition of success before the end of the term. 
    </p>
  </div>

  <div id="coop2">
    <h3>Software Developer</h3>
    <h4>Sept-Dec 2019<br>RBC</h4>
    <p>
      Worked as a part of the team working on RBC's new business banking portal.
      <br><br>
      Month 1: QA + Learning
      <br>
        I spent the first month learning how to test software. I learned basic concepts (e.g TDD/BDD, unit/integration/e2e, usage of mocks, mutation testing, 
        pen testing, etc.) and had the opportunity to create tests and refactor existing tests for the project in both front and back end. I additionally 
        learned how to navigate Jenkins and Confluence, and how to be in an agile group. I experienced various meetings I didn't previously have (backlog reviews, 
        sprint reviews, retro, daily stand up, etc.) and learned a bit on how to increase my productivity in a work environment (e.g to declare goals in the 
        beginning of a meeting and making sure they are fulfilled by the end. Just various soft skills).
      <br><br>
        Month 2: Graphql
      <br>
        I fucking hate graphql. 
      <br><br>
        Month 3: Front end 
      <br>
        bottom text 
      <br><br>
        Month 4: Front end + opportunity to play w RPi  
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu fermentum arcu. Duis ullamcorper leo non nunc mollis imperdiet. Nulla mauris ligula, varius in est ac, finibus varius arcu. Sed dui augue, pretium et fringilla et, ultricies non leo.
    </p>
  </div>
<h1 class="text-center">Volunteer/Informal Experiences</h1>
  <div id="coop3">
    <h3>Volunteer</h3>
    <h4>Jan 2015-June 2018<br>International and Indigenous Languages (IIL) for YRDSB</h4>
    <p>
      helped wherever was the busiest 
      Helped with documents 
      textbook handouts 
      basically did photocopies in the morning, attendence collecting and then hall monitoring the rest of the time
      lalalalalala should be a short paragraph helped me advance these skills: 
    </p>
      <ul>
        <li>
          how to provide aid without angering the shit out of people
        </li>
        <li>
          learning the importance of speed/time management 
        </li>
        <li>
          some sort of leadership skills 
        </li>
        <li>
          how painful physical files are to deal with 
        </li>
      </ul>
  </div>
  <div id="coop3">
    <h3>Volunteer</h3>
    <h4>Hack The North 2018</h4>
    <p>
      took shifts and helped with surveillence of the event in both main hall and one of the floors of the building, helping attendees with any questions they might have
      delivered snacks and stuff that's pretty much it 
      helped me advance these skills: 
    </p>
      <ul>
        <li>
          importance of collaboration in a high-density/large environment 
        </li>
        <li>
          being able to listen to and remember instructions when needed
        </li>
        <li>
          acknowledging when you don't know something and being aware of who to redirect to
        </li>
      </ul>
  </div>
</body>
<h2 class="text-center">Most recent academic term completed: 1A</h2>