<app-header></app-header>
<body>
  <h1 class="text-center">Personal Side Projects</h1>
  <div id="proj2">
    <h3>Website</h3>
    <h4>Jan 2019</h4>

    <ul id="icons" class="unstyled">
      <li>
    <img src="../../assets/mdb-logolarge.png" width="84px">
    </li>

    <li>
      <i class="fab fa-angular fa-2x grey-text"></i>
      </li>
    </ul>

    <p>I first started this project as practice for my first co-op, the initial job title being 'Web
      Developer'. Turns out that the job wasn't very front-end related, but I continued with it because
      the aspect of having a website appealed to me.
      <br>
      The goal here was to get something simple up and running so I could easily show off other projects
      I do in the future. I wanted this website to act as a medium for people to easily browse through what
      I had to offer, but it ended up taking more time than I thought because I had little experience in
      web development, so a lot of things were learned on the spot. That and it was hard to resist
      trying out dozens of stylizing options. Oops.</p>
  </div>

  <div id="proj1">
    <h3>Game(?)</h3>
    <h4>Long long ago</h4>

    <ul id="icons" class="unstyled">
      <li>
        <i class="fab fa-java fa-2x grey-text"></i>
    </li>
    </ul>


    <p>That was fun. Java swing was not, however. Background images and characters taken from Wadanohara
    because I can't draw for my life.</p>

    <img class="image" src="../../assets/P_0_0.png"> <img class="image" src="../../assets/P_0_1.png">
  </div>


  <hr>

  <h1 class="text-center">Ideas</h1>
  <ul>
    <li>
      Alexa bot -
    </li>

    <li>
      Arduino (or some other microcontroller) -
    </li>

    <li>
      Stripping the RFID from a presto card and implementing it into something more accessable
      <br> <a href="https://www.ringtheory.com" target="_blank">Idea stolen from here</a>  </li>

  </ul>
</body>
