body {
    padding-top: 65px;
    margin-left: 10.5%;
}
h4 {
  padding-bottom: 0px;
}
#icons {
  display:flex;
  list-style:none;
  padding: 0;
}
li {
  padding-right: 1em;
  padding-top: 1px;
}
img {
  padding-top: 3px;
}
.image {
  padding-left: 15px;
    height: 350px;
    padding-bottom: 15px;
}
