<!-- <a href = "/about" > Click Here </a> -->
<!-- <h1 [style.width.%]="x" [style.height.%]="y">Sample text</h1> -->
<a href="/about" [style.width.%]="x" [style.height.%]="y">Enter</a>
<div id="smol"[style.margin-left.px]="xS" [style.margin-top.px]="yS"></div>
<div id="big"[style.margin-left.px]="xB" [style.margin-top.px]="yB"></div>
<!--
 [ngStyle]="myStyles"

[@changeState]="{params : {pixels: '300px'}}"
  <h1 [@changeState]="isOpen ? 'state1' : 'state2'" class="open-close-container">Take a look around</h1>
<div [@changeState]="currentState" class="myblock mx-auto"></div>-->
